.empty{
  padding: 1rem;
  box-shadow: 0px -1px 0px var(--gray-300);
  background: transparent;
  color: var(--gray-100);
  border-radius: 8px;
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--gray-300);
}
.empty div{
  margin-top: 1rem;
  
}
.empty div p{
  font-weight: bold;
}